<!doctype html>
<html lang="en">

<!-- Mirrored from iqonic.design/themes/booksto/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Nov 2020 02:35:59 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.title</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Assets/images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="~/Assets/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    <script src="~/Assets/js/Angular/angular.min.js"></script>
    <script src="https://rawgit.com/angular/bower-angular-animate/master/angular-animate.min.js"></script>
    <script src="~/Assets/js/Angular/angular-imgur-upload.js"></script>
    <script src="~/Assets/js/Angular/Srcripts/AngularAdmin.js"></script>


</head>
<body ng-app="myApp">

    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div ng-controller="accAdminNav" id="acc" class="wrapper">
        <!-- Sidebar  -->
        <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
                <a href="index.html" class="header-logo">
                    <img src="~/Assets/images/logo.png" class="img-fluid rounded-normal" alt="">

                </a>
                <div class="iq-menu-bt-sidebar">
                    <div class="iq-menu-bt align-self-center">
                        <div class="wrapper-menu">
                            <div class="main-circle"><i class="las la-bars"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_navbar")
        </div>
        <!-- TOP Nav Bar -->
        <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-menu-bt d-flex align-items-center">
                        <div class="wrapper-menu">
                            <div class="main-circle"><i class="las la-bars"></i></div>
                        </div>
                        <div class="iq-navbar-logo d-flex justify-content-between">
                            <a href="index.html" class="header-logo">
                                <img src="~/Assets/images/logo.png" class="img-fluid rounded-normal" alt="">
                                <div class="logo-title">
                                    <span class="text-primary text-uppercase">Booksto</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="navbar-breadcrumb">
                        <h5 class="mb-0">Shop</h5>
                        @Html.Partial("_TitelPage")
                    </div>
                    <div class="iq-search-bar">
                        <form action="#" class="searchbox">
                            <input type="text" class="text search-input" placeholder="Search Here...">
                            <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                        </form>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                        <i class="ri-menu-3-line"></i>
                    </button>
                    @Html.Partial("_AdminAcc")
                </nav>
            </div>
        </div>
        <!-- TOP Nav Bar END -->
        <!-- Page Content  -->
        @RenderBody()
        <!-- End Page Content-->
    </div>
    <!-- Wrapper END -->
    <!-- Footer -->
    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><i style="color:dodgerblue" class="fa fa-facebook-square"></i><a href="https://www.facebook.com/tuananhnguyen200x" target="_blank">TuanAnh Nguyen</a></li>
                        <li class="list-inline-item"><i style="color:dodgerblue" class="fa fa-facebook-square"></i><a href="https://www.facebook.com/anhlatuananh.android" target="_blank">Tuan Anh </a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right">
                    Thiết kế bởi Sinh Viên UTEHY <a href="#">FreshFood</a> Đã đăng ký bản quyền.
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="~/Assets/js/jquery.appear.js"></script>
    <!-- Countdown JavaScript -->
    <script src="~/Assets/js/countdown.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="~/Assets/js/waypoints.min.js"></script>
    <script src="~/Assets/js/jquery.counterup.min.js"></script>
    <!-- Wow JavaScript -->
    <script src="~/Assets/js/wow.min.js"></script>
    <!-- Apexcharts JavaScript -->
    <script src="~/Assets/js/apexcharts.js"></script>
    <!-- Slick JavaScript -->
    <script src="~/Assets/js/slick.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="~/Assets/js/select2.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="~/Assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="~/Assets/js/smooth-scrollbar.js"></script>
    <!-- lottie JavaScript -->
    <script src="~/Assets/js/lottie.js"></script>
    <!-- am core JavaScript -->
    <script src="~/Assets/js/core.js"></script>
    <!-- am charts JavaScript -->
    <script src="~/Assets/js/charts.js"></script>
    <!-- am animated JavaScript -->
    <script src="~/Assets/js/animated.js"></script>
    <!-- am kelly JavaScript -->
    <script src="~/Assets/js/kelly.js"></script>
    <!-- am maps JavaScript -->
    <script src="~/Assets/js/maps.js"></script>
    <!-- am worldLow JavaScript -->
    <script src="~/Assets/js/worldLow.js"></script>
    <!-- Raphael-min JavaScript -->
    <script src="~/Assets/js/raphael-min.js"></script>
    <!-- Morris JavaScript -->
    <script src="~/Assets/js/morris.js"></script>
    <!-- Morris min JavaScript -->
    <script src="~/Assets/js/morris.min.js"></script>
    <!-- Flatpicker Js -->
    <script src="~/Assets/js/flatpickr.js"></script>
    <!-- Style Customizer -->
    <script src="~/Assets/js/style-customizer.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="~/Assets/js/chart-custom.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/Assets/js/custom.js"></script>

    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'position-class':'toast-top-full-width'}"></toaster-container>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
</body>
@RenderSection("Script", required: false)
<!-- Mirrored from iqonic.design/themes/booksto/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Nov 2020 02:36:05 GMT -->
</html>